<div>
  <app-page-header [heading]="'CallList'" [icon]="'fa-table'"></app-page-header>
  <div class="row justify-content-center">
      <div class="col-10 col-xl-10 col-lg-12">
        <div class="row justify-content-end">
            <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ selectedYear }}年</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" *ngFor="let year of years" (click)="onClickYear(year)"> {{ year }}年 </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ selectedMonth }}月</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item" *ngFor="let month of months" (click)="onClickMonth(month)"> {{ month }}月 </button>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="onClickReload()">Reload</button>
              </div>
            </div>
          <div class="card mb-3">
              <div class="card-header">Striped Rows</div>
              <div class="card-body table-responsive">
                  <table class="table table-hover table-striped">
                      <thead>
                      <tr>
                          <th>phone number</th>
                          <th>name</th>
                          <th>incoming call Time[min]</th>
                          <th>outbound call Time[min]</th>
                          <th>call charge[円]</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let call of calls">
                          <td>{{ call.phoneNumber }}</td>
                          <td>{{ call.friendlyName }}</td>
                          <td>{{ call.inbountCallTime | time: 'min' }}</td>
                          <td>{{ call.outboutCallTime | time: 'min' }}</td>
                          <td>{{ call.price }} 円</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
