<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h1>Twilio料金チェッカー</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="sid" name="sid" class="form-control input-underline input-lg" id="" placeholder="Account SID">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="token" name="token" class="form-control input-underline input-lg" id="" placeholder="Access Token">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/list']" (click)="onLoggedin(sid, token)">Log in</a>
            </form>
        </div>
    </div>
</div>
